.container-accordeon {
    transition: .5s;
    padding-top: 50px;
    padding-bottom: 50px;
}

.acc-button {
    padding: 10px;
    padding-left: 30px;
    background-color: rgb(166, 182, 211);
    border-radius: 10px;
    font-size: 20px;
    position: relative;
}


.wrapper .accordeon_button::after{
    display: block;
    position: absolute;
    content: 'ᐯ';
    width: 10px;
    height: 10px;
}

.acc_content {
    overflow: hidden;
    height: 0;
    font-size: 20px;
    transition: .3s linear;
}

.acc_content.active {
    height: auto;
}
